*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Muli', Arial, sans-serif;
    background-color: #f4f3ef;
    color: #66615b;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-areas: 
   " aside-part main-part main-part main-part main-part" 
}
.main-part{
    grid-area: main-part;
    border-left: 1px #c5c5c5 solid ;
    padding: 10px 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.header-note{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    color: #87878a;
}
.nav-list{
    display: flex;
    justify-content:space-between;
    list-style: none;
    left: 0;
    padding: 10px 10px;
}
.nav-list-item{
    display: flex;   
}
.nav-list-p{
    display: inline;
    right: 0;
    color: #9c9da1;
}
.gh{
    vertical-align: middle;   
}
.az{
    padding: 3px;
}
.nv1{
    padding-right: 10px;
    margin-right: 10px;
}
.nav-set{
    padding-right: 0px;
    margin-right: 0px;
}
.main-part hr::after{

    content : "";
    position: absolute;
    right: 0;
    top: 68px;
    height  : 1px;
    width   : 80%;  /* or 100px */
    border-bottom:1px solid #9c9da1;
}
.sec-cap,.sec-rev,
.sec-err,.sec-follower{
    display: inline-block;
    width: 25%;
    height:130px;
    background-color: white;
    padding:10px 10px;
    margin: 20px 25px 20px 0px;
    border-radius: 10px;
}
.sec-follower{
    margin-right: 0px;
}
.sec-txt{
    color:#a8a9ab;
    font-size: 14px;    font-weight: 300;
}
.setting-icon::after{
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABmJLR0QA/wD/AP+gvaeTAAABqklEQVRIic2WzS4EQRSFT2EjGYT4eQSxYCUTXsCKRNgRCQmJt7AQiZ2fzRBewYZhIR6AtYcQGzNYT38W3ROl+nb1EAlnU92n761z69a9VS39JwCrfCIBFjv17fqGTtV7dpJmfiwC9ALnRqQTwftk4LcInAG9UcVM4NZLyykwCmwCTb7iBdgAhoCax99GhYAT8kgMzkfL4GqxdF1IIuBcdPn5OZB0GfUAjksiL8NBOGcuSmBE0nMHK7DQkjTsnGv6pFXCSwUCdaVlXMnGa8OmW9KCKU/aaMfAHfBqpOCqwK9u2DZIK+wQWPGNyypoukCkWuKXqJ0WIKyoEP3OuXdDpE/SW8zROefae1ImMl7Ah6dALg5J6slelpWeRVOSZiUNBMY7sjd0x+Aaku4lPWajIQ3bBfmtZ3tQycbrAru1cE6rT8YkPVnfOkBL0ohzruGTVp/s/lBASvtkL2pBelz/Br5cE+FKrM1NSqJvGdx8bCX+fZIAR8AwsEX+JGgA68BgZtdu6Ph94gnVgLmAvwtEboLvc5lfXKBEPLwC9jv1/c6PxIOvqaJG+yt8ADDttvU6oKZIAAAAAElFTkSuQmCC");
    
    width: 60px;
    height: 45px;
    background-color: #9e9e9e;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 120px;
    opacity: 0.6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 2;
    position: absolute;
}
.sec1{
    display: flex;
    margin-top: 20px;
}
.sec-cap-img{
    display: inline;
    padding: 10px;
    vertical-align:middle ;
}
.sec2-img{
    width: 100%;
    height: auto;
}
.htd{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.dd{
    font-size:18px;
    vertical-align:top;
    margin-left: 5px;
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
}
.ii{
    display: inline;
    margin-top: 10px;
}
.tr{
    vertical-align:middle ;
    margin-top: 15px;
}
.mm{
    display: inline-block;
   justify-content: space-around;
}
.ss{
    margin-right: 12px;
}
.aa{
   text-align: right;
   font-size: 20px;
   font-weight: 700;
   margin-top: 6px;
}
.aside-part{
    grid-area: aside-part;
    position: fixed;
    background-color:white;
    width: 20%;
    height:100vh;   
}

.aside-header{
    font-weight: 250;
    font-size: 18px;
    padding: 25px 40px;
    text-align: center;
}
.aside-header-hr{
    border-bottom: 1px thin #f4f3ef;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.aside-ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside-list-item{
    display: inline;
    list-style: none;
    margin: 3px 15px;
}
.af-tg::after{
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px;
    top: 100px;
}

.aside-icon-1{
    display: inline;
    margin: 10px 5px 5px 10px;
}
.aside-icon-1-txt{
    display: inline;
    text-align: center;
    font-size: 12px;
    color: #939393;
    font-weight: 600;
}
.m{
    vertical-align:middle ;
}
.fr{
    display: flex;   
}
.vv{
    color :#ff7a58;
} 
.zq{
    display: flex;
    align-items: flex-end;
    position:fixed;
    bottom: 20px;
    margin-left: 15px;
}
.up-txt{
    margin-bottom: 5px;
    margin-left: 5px;
}
.footer{
     grid-area: footer;
}
.footer-lista{
    display: inline;
    list-style: none;
}
.footer-list-item{
    list-style: none;
    display: inline;
    margin: 10px 20px;
    padding: 10px; 
}
.footer-list-item-p{
    display: inline;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
}
.footer-p{
    display: inline;
    float: right;
    font-size: 14px;
    margin-bottom: 5px;
}
.footer-p-sp{
    color: turquoise;
} 
.po{
    margin-top: 20px;
    padding-top: 10px;
}